/* Borough-zoom D3 Visualization */
.district-names {
    fill: grey;
    text-anchor: middle;
}

.background {
    fill: none;
    pointer-events: all;
}

#states {
    fill: #e5e5e5;
    stroke: #fff;
    stroke-width: 1px;
}

#states .active {
    fill: #ffba50;
}

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}

#canvas {
    position: relative;
}

.bar {
    stroke-width: .5px;
}

.bar:hover {
    fill: #48803f !important;
    cursor: pointer;
}

div.tooltips, div.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0;
    border-radius: 8px;
    pointer-events: none;
}